
 #F{
    background-color:aqua;
    padding: 10px;
    border-radius: 5px;
    
 }
#F-1{
   background-color: aqua;
   padding: 20px;border-radius: 10px;
}
 #F-1:hover{
   background-image: url('images/tiner bara (1).jpg');
   background-repeat: no-repeat;
   background-size: cover;
   color: ;
 }
 h1{
    color: magenta;
    font-size: 30px;
    background: yellow;
    border-radius: 20px;
    text-align: center;
 }
 h1:hover{
 background-color: black;
 }
 #f2{background-color: aqua;
   padding: 20px;border-radius: 10px;
 }
 #f2:hover{
   background-image: url('images/tiner bara (1).jpg');
   background-repeat: no-repeat;
   background-size: cover;
   
 }

 #f3{background-color: aqua;
   padding: 20px;border-radius: 10px;
 }
 #f3:hover{
   background-image: url('images/widthouthad2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   color:magenta;
   
 }

 #f4{background-color: aqua;
   padding: 20px;border-radius: 10px;
 }
 #f4:hover{
   background-image: url('images/widthhed.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   color:magenta;
   
 }
 #f5{background-color: aqua;
   padding: 20px;border-radius: 10px;
 }
 #f5:hover{
   background-image: url('images/orna.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   
 }